<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>MEMBER</h1>
  <% if(MEMBERS.length !== 0) { %>
  <% for (let i = 0; i < MEMBERS.length; i ++) { %>
  <ol>
    <li>아이디 : <%= MEMBERS[i].id %></li>
    <li>패스워드 : <%= MEMBERS[i].password %></li>
  </ol>
  <% } %>
  <% } else { %>
  <p>회원 데이터가 없습니다.</p>
  <% } %>
</body>

</html>